/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LandingPage.css */

.landingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: fit-content;
}

.content {
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
}

.title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.featureCard {
  border: 1px solid;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.blue {
  color: #007bff;
}

.green {
  color: #28a745;
}

.red {
  color: #dc3545;
}

.featureTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.featureDescription {
  font-size: 16px;
}

.getStarted {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.getStarted:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 996px) {
  .content {
    margin-top: 40px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 16px;
  }

  .featureCard {
    width: 200px;
  }

  .icon {
    font-size: 30px;
  }

  .featureTitle {
    font-size: 18px;
  }

  .featureDescription {
    font-size: 14px;
  }
}
